<section id="message-form">
    <form action="/create" method="post" id="messageForm">
        Name: <input type="text" name="name">
        Message:
        <textarea rows="4" cols="50" name="message" form="messageForm"></textarea>
        <button type="submit">Submit</button><br/>
        <small>Please refresh the browser after you submit the message</small>
    </form>
</section>